* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B88A9;
}

.active {
    background-color: #0C9BBD;
}

.active p, .active i {
    opacity: 1;
}

 /** setting color of the clock icon to white **/

input[type="time"]::-webkit-calendar-picker-indicator{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  }
  